@import '../../../styles/Home.module.css';

.dashboardWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.dashboardMenuWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-background);
}
.dashboardContentsWrapper{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.dashboardContentsWrapper::-webkit-scrollbar {
    display: none;
  }

.dashboardContentCardsWrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}