@import '../../../styles/Home.module.css';

.convertWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background: var(--secondary-background);
    width: 315.07px;
    height: 301px;
    border-radius: 15px;
}

.convertHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.convertHeader h2{
    color: var(--primary-colorText);
}

.headerIconWrapper{
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #7F8A9B4D;
    display: flex;
}

.menuIcon{
    width: 15.83px;
    height: 15.83px;
    font-weight: 500;
    color: #26AB5F;
}

.convertCurrencyInputWrapper{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.currencyInput{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: var(--primary-background);
    border: none;
}


/************** Dropdown ****************/
.currencyDropdownUSDT{
    display: flex;
    flex-direction: column;
    padding: 8.5px;
    border-radius: 7px;
    color: #26AB5F;
    background-color: #C7E4DB; 
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 1;
}

.currencyDropdownBTC{
    display: flex;
    flex-direction: column;
    padding: 8.5px;
    border-radius: 7px;
    color:#FF7C04;
    background-color: #FCF4DB;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.currencyDropdownHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.currencyDropdownBody{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.currencyDropdownItem{
    font-size: 10px;
    font-weight: 600;
    padding: 7px 0px;
    border-bottom: 1px solid #bfc4c1;
    cursor: pointer;
}

/************** Dropdown ****************/

.convertButton{
    width: 100%;
    height: 45px;
    background-color: #4D91FF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
}

.convertWrapper p{
    font-size: 8px;
    font-weight: 400;
    line-height: 11.5px;
    color: #626D7D;
}
