:root {
  --primary-background: #F0F8FF;
  --secondary-background: #FFFFFF;
  --primary-colorText: #000;
  --border-color: #f7f7f714;
  --active-navBackground: #D5E6FB;
  --active-navBarTitle: #0060FF;
}
[data-theme='dark']{
  --primary-background: #12131A;
  --secondary-background: #1C1C25;
  --primary-colorText: #fff;
  --border-color: #C0C5CB14;
  --active-navBackground: #062141;
  --active-navBarTitle: #1A71FF;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--secondary-background);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
